 {{>nabegation}}
<div class="container">
    <div class="row mt-5">
        <div class="div">
            <div class="col md-3">
                <H3 style="text-align: center;">LISTADO DE EMPLEADOS</H3>
    
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                NUEVO EMPLEADO
                </button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Nuevo Empleado</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                       <div class="">
                        <div class="row mt-10">
                            <div class="col-md-12">
                            <div class="card-body">
                                <form action="/add" method="post" style="max-width: 500px; margin: 0 auto;">
                                    <div class="mb-3">
                                        <label for="nombres" class="form-label">Nombres</label>
                                        <input type="text" class="form-control" id="nombres" name="name">
                                    </div>
                                    <div class="mb-3">
                                        <label for="apellidos" class="form-label">Apellidos</label>
                                        <input type="text" class="form-control" id="apellidos" name="lastname">
                                    </div>
                                    <div class="mb-3">
                                        <label for="telefono" class="form-label">Teléfono</label>
                                        <input type="text" class="form-control" id="telefono" name="phone">
                                    </div>
                                    <div class="mb-3">
                                        <label for="edad" class="form-label">Edad</label>
                                        <input type="text" class="form-control" id="edad" name="ege">
                                    </div>
                            </div>
                            </div>
                        </div>
                        </div>
                        </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </div>

                    </form>
                </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">Nombres</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Telefono</th>
                         <th scope="col">Edad</th>
                         <th scope="col">opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each empleados}}
                            <tr>
                                <td>{{name}}</td>
                                <td>{{lastname}}</td>
                                <td>{{phone}}</td>
                                <td>{{ege}}</td>
                                <td>
                                    <div>
                                        <a href="/edit/{{id}}" data-bs-target="#exampleModal"  class="btn btn-warning">Editar</a>
                                        <a href="/delete/{{id}}"  class="btn btn-danger">Eliminar</a>
                                    </div>
                                </td>
                            </tr>
                       {{/each}}
                       
                    </tbody>
                    
                </table>
            </div>
        </div>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Atras</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
            </ul>
        </nav>
        
    </div>
</div>